body{
  background: #F6F6F6;
}
.header{
  background: #FFFFFF;
  position: sticky;
  top: 0px;
  z-index: 100;
}
.header-container {
  display: flex;
  padding: 30px 50px 30px 10px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (min-width: 767px) {
  .header-container {
    padding: 30px;
  }
}
@media only screen and (min-width: 1279px) {
  .header-container {
    padding: 30px 40px;
  }
}
.logo-h1 {
  font-style: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0 0 10px;
}
.logo-h2 {
  font-family: 'Arial';
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
  margin: 0 0 0 3px;

}
.header-menu {
  display: none;
}
@media only screen and (min-width: 767px) {
  .header-menu {
    width: 443px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 auto;
  }
}

.hamburger .line{
  background-color: #000000
}
.burger-screan div{
  color: #F6F6F6;
}
.burger-menu a{
  color: #cdcdcd;;
}


.menu-link {
  font-family: 'Arial';
  font-style: normal;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  border-bottom: 3px #f1cdb300 solid
}
.menu-link:hover {
  border-bottom: 3px #F1CDB3 solid;
}
.menu-link--active{
  border-bottom: 3px #F1CDB3 solid;
}
.main {
  padding: 42px 10px;
}
@media (min-width: 767px){
  .main {
    padding: 80px 94px 74px 93px;
  }
}
@media (min-width: 1279px){
  .main {
    padding: 80px 40px 100px;
  }
}
.main-title {
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0 auto 40px;
  font-weight: 400;
}
@media (min-width: 767px){
  .main-title {
  font-size: 35px;
  margin: 0 auto 30px;
  }
}
@media (min-width: 1279px){
  .main-title {
  font-size: 35px;
  margin: 0 auto 60px;
  }
}
.pets-slider{
  max-width: 270px;
  height: 1365px;
  margin: 0 auto 42px;
}
@media (min-width: 767px){
  .pets-slider{
    max-width: 580px;
     margin: 0 auto 39px;
  }
}
@media (min-width: 1279px){
  .pets-slider{
    max-width: 1200px;
    height: 930px;
    margin: 0 auto 56px;
  }
}
.main-cards-container {
  max-width: 1200px;
  /* max-height: 1365px; */
}
@media (min-width: 767px){
  .main-cards-container {
    /* max-height: 1365px; */
    margin: 0;
  }
}
@media (min-width: 1279px){
  .main-cards-container {
    /* max-height: 930px; */
    }
}
.card-container {
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.card-container:hover .btn{ 
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}
.card-container:hover{
  background: #FFFFFF;
}

.card-image {
  border-radius: 9px 9px 0px 0px;
  width: 270px;
  height: 270px;
}
.card-title {
  width: 74px;
  height: 23px;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 30px;
  margin-bottom: 30px;
}
.btn{ 
  padding: 15px 45px;
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 17px;
  line-height: 130%; 
  letter-spacing: 0.06em;
  color: #292929;
}
.main-pagination {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
@media (min-width: 767px){
  .main-pagination {
    width: 340px;
  }
}

.main-pagination-dots {
  display: flex;
}

.swiper-pagination-bullets.swiper-pagination-horizontal.main-pagination-dots {
  width: auto;
}
.page-link {
  display: inline-flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;     
  text-decoration: none;
  border: 2px solid #F1CDB3;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
}
.page-link:hover {
  border: 2px solid #F1CDB3;
  background: #F1CDB3;
}
.page-link-disabled {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}
.page-link-disabled:hover {
  background: none;
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}
.page-link-active {
  background: #F1CDB3;
}


.swiper-pagination-bullet {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
  background: transparent;
  opacity: 1;

  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  border: 2px solid #F1CDB3;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
  
  display: none;
}

.swiper-pagination-bullet-active {
  background: #F1CDB3;
  display: inline-flex;
}